# Virtual Environment
.venv/
venv/
ENV/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# Operating system artifacts
.DS_Store
Thumbs.db
*.log